* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}


#svg{
    margin: 0 0 0 0;
    /* border: 1px solid black; */
    user-select: none;
}


#dr{
    border: 1px solid wheat;
    margin: 0 0 0 0;
    /* border: 1px solid black; */
}