.right-bar
  padding: 10px
  background-color: #222222
  height: 100%
  position: fixed
  top: 0
  right: 0
  border-left: 1px solid #ffffff65
  &__section
    margin-bottom: 10px

.section
  border: 1px solid var(--bs-border-color)
  border-radius: 4px
  &__title
    width: 100%
    border-bottom: 1px solid #686868

.opacity-input
  width: 52%
  padding: 0 8px
  display: flex
  align-items: center
  border: 1px solid #555

.container-row
  display: flex
  justify-content: space-between

.container-box
  position: relative
  margin: 10px auto
  width: 135px
  height: 50px
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid gray
  &__corner
    position: absolute
    width: 10px
    height: 10px
    background-color: #0d6efd
    &_1
      top: -5px
      left: -5px
    &_2
      top: -5px
      right: -5px
    &_3
      bottom: -5px
      left: -5px
    &_4
      bottom: -5px
      right: -5px

.btns
  display: flex
  flex-direction: column

.add-btn
  // height: 40px
  // height: 40px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 5px
  &__icon
    height: 20px
    width: 20px
    display: block
    margin: 6px
  div
    color: #e2e2e2

.points
  border: 1px solid var(--bs-border-color)
  border-radius: 4px
  &__title
    display: flex
    align-items: center
    height: 31px
    // margin-bottom: 10px
    padding-left: 10px
    background-color: var(--bs-tertiary-bg)
    border-bottom: 1px solid var(--bs-border-color)
    // border: 1px solid var(--bs-border-color)
    // border-radius: 4px
  &__body
    max-height: 205px
    overflow: auto
    padding: 10px 10px 0px 10px
    &::-webkit-scrollbar
      width: 10px /* ширина всей полосы прокрутки */
    &::-webkit-scrollbar-track
      background: "transparent" /* цвет зоны отслеживания */
    &::-webkit-scrollbar-thumb
      background-color: var(--bs-tertiary-bg) /* цвет бегунка */
      border-radius: 5px /* округлось бегунка */
      border: 1px solid var(--bs-border-color) /* отступ вокруг бегунка */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0
