#svg
  user-select: none
  width: 1400px
  height: 1000px
  background-color: black

.editor
  padding: 0 300px 0 300px

.edit-panel
  height: 50px
  display: flex
  align-items: center
  border-bottom: 1px solid #ffffff65
  &__button
    background-color: #131313
    border: 1px solid white
    height: 100%
    // border-radius: 4px
    img
      padding: 4px
      height: 35px
      width: 35px
      fill: white
    &_active
      background-color: #525f97
      &:hover
    &:hover
      background-color: #7385d3
    &:focus-visible
      outline: none


