#svg
  margin: 0 0 0 10px
  user-select: none
  width: 1400px
  height: 1000px
  border: 1px solid white

.edit-panel
  height: 40px
  padding: 0px 10px
  display: flex
  align-items: center
  &__button
    background-color: #131313
    border: 1px solid white
    height: 100%
    // border-radius: 4px
    img
      padding: 4px
      height: 35px
      width: 35px
      fill: white
    &_active
      background-color: #525f97
      &:hover
    &:hover
      background-color: #7385d3
    &:focus-visible
      outline: none
